.widget {
  width: 100%;
  padding: 0 0.5em;
}

.recent,
.title {
  margin: 0;
}


.recent {
  font-size: 1.2rem;
}
.title {
  font-family: 'Mr De Haviland', cursive;
    font-size: 70px;
    color:  rgba(5, 87, 92, 0.8);
    height: 90px;
}