* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
   
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #1d1c1c;
    line-height: 1.6;
    letter-spacing: 1.5px;
    background-color: #ebeef3;
}


main {
    width: 100%;
    margin-bottom: 2em;
}



h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    color: #6e6c6c;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 1em 0;
  }

p {
    font-size: 0.9rem;
    letter-spacing: 1.2px;
    color: #302f2f;
    font-weight: 300;
}

a {
    color: #6e6c6c;
    text-decoration: none;
}
header {
    box-sizing: initial;
    width: 100%;
    margin: 0;
}

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
} */

.shadow {
    background-color: rgba(5, 87, 92, 0.3);
}



@media (min-width: 750px) {
    html {
        font-size: 18px;
    }
}




