* {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 16px;
   
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #1d1c1c;
    line-height: 1.6;
    letter-spacing: 1.5px;
}


main {
    width: 95%;
    max-width: 900px;
    margin: 2em auto;
}

aside {
    width: 95%;
    margin: 0 auto;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    color: #BF7331;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 1em 0;
  }

p {
    font-size: 0.9rem;
    letter-spacing: 1.2px;
    color: #6e6c6c;
}

a {
    color: #BF7331;
    text-decoration: none;
}
header {
    background: rgba(247, 216, 187, 0.202);
    padding: 1em;
    width: 100%;
    margin: 0;
}

@media (min-width: 750px) {
    html {
        font-size: 18px;
    }
    .body {
        display: flex;
        
        max-width: 950px;
        margin: 0 auto;
    }

    main {
        width: 67%;
        margin-left: 0;
    }

    aside {
        width: 30%;
        padding: 0;
    }
}




